//Font
$catFontFamily: "Roboto", sans-serif;
$catFontSize_md: 24px;
$catFontSize_sm: 16px;
$catFontSize_xs: 13px;
$catFontSize_lg: 40px;
$catFontWeight_400: 400;
$catFontWeight_500: 500;

//Colors
$catBlack: #000;
$catWhite: #fff;
$catBlue: #1976d2;

$catShadow: 2px 2px 0 $catBlack;

$catZero: 0;
$catHeaderHeight: 120px;
$catMargin_40: 40px;
$catImageHeight: 726px;
$catMaxWidth: 1152px;

$catLineHeight: 28px;
$catButtonHeight: 22px;
